@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    /* Fonts */
    --font-size: 1rem;
    --ff-main: 'Outfit';
    --ff-accent: 'Young Serif';
    --fw-light: 400;
    --fw-mid: 600;
    --fw-bold: 700;

    /* Colors */
--clr-White: hsl(0, 0%, 100%);

--clr-Stone-100: hsl(30, 54%, 90%);
--clr-Stone-150: hsl(30, 18%, 87%);
--clr-Stone-600: hsl(30, 10%, 34%);
--clr-Stone-900: hsl(24, 5%, 18%);

--clr-Brown-800: hsl(14, 45%, 36%);

--clr-Rose-800: hsl(332, 51%, 32%);
--clr-Rose-50: hsl(330, 100%, 98%);
}
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  
 
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  html {
    height: 100%;
  }
  .website__main-text {
    margin: 2rem;
    font-size: var(--font-size);
    font-family: var(--ff-main);
    color: var(--clr-Stone-600);
    font-weight: var(--fw-light);
    display: grid;
    align-items: center;
  }
  h1 {
    font-family: var(--ff-accent);
    color: var(--clr-Stone-900);
    font-weight: var(--fw-light);
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 1rem;
  }
  .website__main-description {
    margin-bottom: 1rem;
  }
  .website__preparation-box {
    background-color: var(--clr-Rose-50);
    padding: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
  h2 {
    color: var(--clr-Rose-800);
    margin-bottom: .5rem;
    font-size: 1.3rem;
  }
  .website__preparation-box span {
   color: var(--clr-Stone-900);
   font-weight: var(--fw-bold);
  }
  .website__preparation-box li {
    margin-bottom: .5rem;
  }
  .website__preparation-box li::marker {
    color: var(--clr-Brown-800);
    list-style-type: disc;
    
  }